.questrial-regular {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}
.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}
  
:root{
    --azul: #3e5b79;
    --cinza1: #afadad;
    --cinza2: #6a6a6a;
    --cinza3:#36393a;
    --cinza5: #1e1f1f;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#pagina1 {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/fundo1.png); /* Imagem de exemplo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#menu h1 {
    font-family: "Shrikhand", serif;
    color: white;
    font-size: 1.5vw;
    margin-top: 1vh;
    margin-left: 1vw;
    float: left;
    margin-right: 80vw;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: "Questrial", sans-serif;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 10vw;
    background: var(--cinza2);
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover {
    color: white;
    text-decoration: none;
}
ul li a.sec {
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
}

ul li a.sec:hover {
    color: white;
    background: var(--cinza3);
    text-decoration: none;
}
ul li:hover ul.dropdown{
    display: block;
}
ul li i.fa{
    font-size: 1vw;
}

#primeirot h2{
    color: white;
    font-family: "Questrial", sans-serif;
    font-size: 1.6vw;
    margin-top: 20vh;
    margin-left: 9vw;
}
#primeirot{
    width: 50vw;
    position: absolute;
    top: 4vw;
}
#primeirot p {
    width: 30vw;
    color: white;
    font-family: "Bree Serif", serif;
    font-size: 2.3vw;
    margin-left: 9vw;
}

#caixa11 {
    float: left;
    margin-left: 9vw;
}
.caixa12 {
    border: 0.1vw solid white;
    height: 6vh;
    width: 10vw;
    float: left;
    margin-left: 3vw;
}
#caixas p{
    color: white;
    font-family: "Questrial", sans-serif;
    text-align: center;
    margin-top: 1.2vh;
    font-size: 2.5vh;
}

#caixas{
    position: absolute;
    top: 34.5vw;
}

/*pagina2 começou*/
#pagina2{
    background-color: var(--azul);
    width: 100%;
    height: 100vh;
}
#textospag2{
    width: 80vw;
    text-align: center;
    margin-left: 10vw;
    padding-top: 7vh;
}
#pagina2 p{
    font-family: "Questrial", sans-serif;
    color: black;
}
#pagina2 #p1{
    font-size: 2.7vw;
    margin-bottom: 0.7vh;
}

#pagina2 .p2{
    font-size: 2vw;
    width: 65vw;
    margin-left: 7.5vw;
}
.p2 span{
    color: white;
}
#pagina2 h1{
    font-family: "Shrikhand", serif;
    color: white;
    font-size: 6vw;
}
#linha{
    width: 60vw;
    height: 0.1vh;
    background-color: white;
    margin-left: 10vw;
    
}
/*pagina2 acabou*/

/*pagina3 começou*/

#pagina3 {
    width: 100%;
    height: 100vh;
    background-image: url('../imgs/fundo2.png'); /* Imagem de exemplo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cardrecomendados{
    width: 25vw;
    height: 25vw;
    background-color: var(--cinza3);
    float: left;
}

#cardlista {
    width: 25vw;
    height: 25vw;
    background-color: var(--cinza3);
    float: left;
    margin-left: 5vw;
}

#cardcolorimetria{
    width: 25vw;
    height: 25vw;
    background-color: var(--cinza3);
    float: left;
    margin-left: 5vw;
}

#fazer h3{
    margin-top: 1vw;
    font-family: "Questrial", sans-serif;
    color: var(--cinza2);
    font-size: 2vw;
    text-align: center;
}

#fazer h1{
    font-family: "Shrikhand", serif;
    color: var(--cinza1);
    font-size: 6vw;
    text-align: center;
    padding-top: 3vw;
}

.textocard{
    margin-top: 1vw;
    font-family: "Questrial", sans-serif;
    color: black;
    font-size: 1.5vw;
    text-align: center;
    margin-left: 1vh;
    margin-right: 1vh;
}

.flecha{
    width: 8vw;
    height: 8vw;
    margin-left: 30%;
    
}

#cards{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

/*pagina3 acabou*/

/*pagina4 começou*/
#pagina4 {
    width: 100%;
    height: 100vh;
    background-image: url(imgs/fundo4.png); /* Imagem de exemplo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#pagina4 h1{
    font-family: "Shrikhand", serif;
    color: white;
    font-size: 5vw;
    width: 40vw;
    text-align: right;
    margin-left: 55%;
    padding-top: 25vh;
}

#pagina4 p{
    font-family: "Questrial", sans-serif;
    color: white;
    font-size: 1.4vw;
    width: 55vw;
    text-align: right;
    margin-left: 40%;
}
/*pagina4 acabou*/
/*pagina5 começou*/
#pagina5{
    background-color: var(--cinza5);
    width: 100%;
    height: 400vh;
}
#pagina5 p, ul{
    text-align: justify;
}
#pagina5{
    color: white;
}
#textospag5{
    width: 80vw;
    text-align: center;
    margin-left: 10vw;
    padding-top: 7vh;
}
#textospag5 p{
    text-indent: 20px;
}

#textospag5 .textos5{
    font-family: "Bree Serif", serif;
    text-indent: 20px;
}

#pagina5 img{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#pagina5 #ver{
    color: red;
}
#pagina5 #ros{
    color: pink;
}
#pagina5 #ama{
    color: yellow;
}
#pagina5 #lar{
    color: orange;
}
#pagina5 #verd{
    color: green;
}
#pagina5 #azu{
    color: blue;
}
#pagina5 #rox{
    color: rgb(200, 0, 200);
}
#pagina5 #mar{
    color: rgb(119, 4, 4);
}
#pagina5 #pre{
    color: var(--cinza2);
}
#pagina5 #pra{
    color: rgb(173, 158, 158);
}
#pagina5 #dou{
    color: rgb(205, 135, 48);
}

/*pagina5 acabou*/
/*pagina6 começou*/
#pagina6{
    background-color: var(--cinza5);
    width: 100%;
    height: 400vh;
}
#pagina6 h1{
    font-family: "Shrikhand", serif;
    color: white;
    font-size: 6vw;
}
#pagina6 .caixa{
    width: 80%;
    height: 40vh;
    border-radius: 2vw;
    border: 2px solid var(--cinza2);
    margin-left: 10%;
}
#pagina6 .poster{
    width: 8vw;
    float: left;
    margin-top: 5vh;
    margin-left: 3vw;
}
#pagina6 h2{
    width: 40vw;
}
#pagina6 p{
    width: 60vw;
}
#pagina6 .titulocaixa, .textocaixa{
    font-family: "Bree Serif", serif;
    color: white;
}
#pagina6 .flecha{
    width: 5vw;
    height: 8vh;
    
}

/*pagina6 acabou*/