.questrial-regular {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}
.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}
  
:root{
    --azul: #3e5b79;
    --cinza1: #afadad;
    --cinza2: #6a6a6a;
    --cinza3:#36393a;
    --cinza5: #1e1f1f;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#pagina1 {
    width: 100%;
    height: 100vh;
    background-image: url(fundo1.png); /* Imagem de exemplo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#menu h1 {
    font-family: "Shrikhand", serif;
    color: white;
    font-size: 1.5vw;
    margin-top: 1vh;
    margin-left: 1vw;
    float: left;
    margin-right: 80vw;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: "Questrial", sans-serif;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 10vw;
    background: var(--cinza2);
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover {
    color: white;
    text-decoration: none;
}
ul li a.sec {
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
}

ul li a.sec:hover {
    color: white;
    background: var(--cinza3);
    text-decoration: none;
}
ul li:hover ul.dropdown{
    display: block;
}
ul li i.fa{
    font-size: 1vw;
}
ul li a img{
    width: 2.5vw;
}
ul li a img#img1{
    width: 2.5vw;
}
#primeirot h2{
    color: white;
    font-family: "Questrial", sans-serif;
    font-size: 1.6vw;
    margin-top: 20vh;
    margin-left: 9vw;
}
#primeirot{
    width: 50vw;
}
#primeirot p {
    width: 30vw;
    color: white;
    font-family: "Bree Serif", serif;
    font-size: 2.3vw;
    margin-left: 9vw;
}

#caixa11 {
    float: left;
    margin-left: 9vw;
}
.caixa12 {
    border: 0.1vw solid white;
    height: 6vh;
    width: 10vw;
    float: left;
    margin-left: 3vw;
}
#caixas p{
    color: white;
    font-family: "Questrial", sans-serif;
    text-align: center;
    margin-top: 1.5vh;
}
#pagina2{
    background-color: var(--azul);
    width: 100%;
    height: 70vh;
}
#textospag2{
    width: 80vw;
    text-align: center;
    margin-left: 10vw;
}
#pagina2 p{
    font-family: "Questrial", sans-serif;
    color: black;
}
#pagina2 #p1{
    font-size: 2vw;
    margin-bottom: 0.7vh;
}

#pagina2 #p2{
    font-size: 1.7vw;
    width: 65vw;
    margin-left: 7.5vw;
}
#p2 span{
    color: white;
}
#pagina2 h1{
    font-family: "Shrikhand", serif;
    color: white;
    font-size: 5vw;
}
#linha{
    width: 60vw;
    height: 0.1vh;
    background-color: white;
    margin-left: 10vw;
    
}


/* Main começou*/

/* Main acabou*/